registry=http://10.0.0.5:8081/repository/npm-group/
 
# Authentication for Nexus
//http://10.0.0.5:8081/repository/npm-group/:username=admin
//http://10.0.0.5:8081/repository/npm-group/:password=Hexaware@2025
