registry=https://your-nexus-repository-url/repository/npm-group/

# Authentication for Nexus
//your-nexus-repository-url/repository/npm-group/:username=admin
//your-nexus-repository-url/repository/npm-group/:password=Hexaware@2025
